<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Rails Refactor</string>
	<key>uuid</key>
	<string>388B0BEE-7CF8-4B0B-9101-EA8BEF5EB8F3</string>
</dict>
</plist>
